<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-person">
        <div class="row">
          <div class="col-md-4">
            <img ng-src="{{person.img}}">
          </div>
          <div class="col-md-8">
            <h2><strong>{{person.name}}</strong></h2>

            <h3>{{person.title}} at {{person.company}}</h3>

            <p>{{person.description}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$hide()">OK</button>
      </div>
    </div>
  </div>
</div>
