<section id="about" class="content">
  <div class="section-header red">
    <h1>About Riga Dev Day</h1>
  </div>
  <div class="container">

    <div class="counter-panel row row-centered">
      <div class="col-sm-2 col-centered">
        <img src="assets/img/about/icon-participants.svg" alt=""/>
        <h1 class="text-center"><span count-to="500" duration="3">0</span>+</h1>
        <h4 class="color-white  text-center">participants</h4>
      </div>
      <div class="col-sm-2 col-centered">
        <img src="assets/img/about/icon-speakers.svg" alt=""/>
        <h1 class="text-center"><span count-to="35" duration="3">0</span>+</h1>
        <h4 class="color-white text-center">speakers</h4>
      </div>
      <div class="col-sm-2 col-centered">
        <img src="assets/img/about/icon-sessions.svg" alt=""/>
        <h1 class="text-center"><span count-to="50" duration="3">0</span>+</h1>
        <h4 class="color-white text-center">sessions</h4>
      </div>
      <div class="col-sm-2 col-centered">
        <img src="assets/img/about/icon-days.svg" alt=""/>
        <h1 class="text-center">3</h1>
        <h4 class="color-white text-center">days</h4>
      </div>
      <div class="col-sm-2 col-centered">
        <img src="assets/img/about/icon-since.svg" alt=""/>
        <h1 class="text-center">2014</h1>
        <h4 class="color-white text-center">since</h4>
      </div>
      <hr/>
    </div>

    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <h2 class="text-left">Riga Dev Day is &hellip;</h2>

        <div class="about-point row">
          <img class="col-sm-3" src="assets/img/about/community.png" alt="">
          <div class="col-sm-9 vcenter">
            <p class="important">
              &hellip;a joint project by three developers user groups in Latvia.
            </p>

            <p>
              <a href="http://gdgriga.lv">Google Developer Group Riga</a>, <a href="http://www.jug.lv">Java User
              Group Latvia</a>, <a href="http://lvoug.lv/">Oracle User Group Latvia</a>: responsible for close
              to a hundred events for IT professionals (and counting!), as well as Java Day Riga 2011-2013 and
              Wildcard conferences.
            </p>
          </div>
        </div>
        <div class="about-point row">
          <img class="col-sm-3" src="assets/img/about/hackathon.png" alt="">
          <div class="col-sm-9 vcenter">
            <p class="important">
              &hellip;an event by software developers for software developers.
            </p>
            <p>
              All of the organizers come straight from the trenches of the industry. We know first-hand the meaning
              of high-quality when it comes to putting together a developer conference.
            </p>
          </div>
        </div>
        <div class="about-point row">
          <img class="col-sm-3" src="assets/img/about/professional.png" alt="">
          <div class="col-sm-9 vcenter">
            <p class="important">
              &hellip;for professionals who value their time.
            </p>
            <p>
              The agenda will be carefully organized to include over 40 of only the most relevant topics and
              technologies. Expect the delivery to be hands-on and immediately useful. Oh, and we have zero
              tolerance for sales pitches.
            </p>
          </div>
        </div>
        <div class="about-point row">
          <img class="col-sm-3" src="assets/img/about/networking.png" alt="">
          <div class="col-sm-9 vcenter">
            <p class="important">
              &hellip;for cross-functional developers and teams.
            </p>
            <p>
              With tracks, covering JVM, Oracle, Mobile, DevOps, Web development, IoT, Databases and other case
              studies, you have a lot of space to share ideas across different backgrounds, with estimated 400+
              participants.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 hidden-xs">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/rigadevday"
           data-widget-id="494202577274163200" height="680">#rigadevday Tweets</a>
        <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");</script>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section
