### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
*.iml

## NodeJS
node_modules

## Plugin-specific files:

# IntelliJ
out/

.DS_Store
