<div class="navbar navbar-default navbar-fixed-top navbar-material" bs-collapse data-start-collapsed="true">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" bs-collapse-toggle>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#top" du-smooth-scroll>Riga Dev Day</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse" bs-collapse-target>
    <ul class="nav navbar-nav">
      <li du-scrollspy="about">
        <a du-smooth-scroll href="#/index#about" bs-collapse-toggle>About</a>
      </li>
      <li du-scrollspy="speakers">
        <a du-smooth-scroll href="#/index#speakers" bs-collapse-toggle>Speakers</a>
      </li>
      <li du-scrollspy="schedule">
        <a du-smooth-scroll href="#/index#schedule" bs-collapse-toggle>Schedule</a>
      </li>
      <li du-scrollspy="venue" class="hidden-xs hidden-sm">
        <a du-smooth-scroll href="#/index#venue" bs-collapse-toggle>Venue</a>
      </li>
      <li du-scrollspy="tickets">
        <a du-smooth-scroll href="#/index#tickets" bs-collapse-toggle>Tickets</a>
      </li>
      <li du-scrollspy="organizers">
        <a du-smooth-scroll href="#/index#organizers" bs-collapse-toggle>Organizers</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right margin-right-10">
      <li><a href="#/press">Press</a></li>
      <li><a href="#/memories">2015</a></li>
    </ul>
  </div>
</div>
