.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/img/bg_vectorized.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  h1 {
    font: bold 75px "Titillium Web", "Source Sans Pro", tahoma, verdana, arial, sans-serif;
  }

  .social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .social li a {
    color: #d9534f;
  }

  .social li a:hover {
    color: #c9302c;
  }

  .btn.btn-danger {
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
  }
}
