<header id="top" class="header">
  <div class="text-vertical-center">

    <h1>RigaDev<span>Day<b>2016</b></span></h1>
    <h2>Conference for Software Developers</h2>
    <h3>March 2-4, Kino Citadele | Come. See. Develop</h3>

    <a href="#tickets" du-smooth-scroll
       class="btn btn-danger buy-tickets">
      Buy Tickets
    </a>

    <ul class="list-inline social">
      <li>
        <a href="https://www.facebook.com/rigadevday"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/RigaDevDay"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
      </li>
      <li>
        <a href="https://plus.google.com/104346723645688269517/posts"><i class="fa fa-google-plus fa-fw fa-2x"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/groups/Riga-Dev-Day-2015-6734834/about"><i
          class="fa fa-linkedin fa-fw fa-2x"></i></a>
      </li>
      <li>
        <a href="https://github.com/RigaDevDay"><i class="fa fa-github fa-fw fa-2x"></i></a>
      </li>
      <li>
        <a href="https://speakerdeck.com/rigadevday"><i class="fa fa-slideshare fa-fw fa-2x"></i></a>
      </li>
    </ul>
  </div>
</header>

