<header id="top" class="header">
  <div class="youtube-stream">
    <div class="videowrapper">
      <iframe src="https://www.youtube.com/embed/IRoDD-93xU8?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="text-vertical-center">
    <h1>RigaDev<span>Day<b>2016</b></span></h1>
    <h2>Conference for Software Developers</h2>
    <h3>March 2-4, Kino Citadele | Come. See. Develop</h3>
  </div>

  <div class="timer">
    <timer end-time="1456907400000">
      {{days}}:{{hhours}}:{{mminutes}}:{{sseconds}}
    </timer>
  </div>

  <div class="apps">
    <a href="https://play.google.com/store/apps/details?id=lv.luhmirin.rigadevday2016" class="android">
      <i class="fa fa-android"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=lv.rigadevday.rigadevday2016VR">
      <img src="/assets/img/apps/app_cardboard.png" alt="">
    </a>
    <a href="https://itunes.apple.com/mz/app/rigadevday/id954161555?mt=8" class="apple">
      <i class="fa fa-apple"></i>
    </a>
  </div>

  <ul class="list-inline social">
    <li>
      <a href="https://www.facebook.com/rigadevday"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/RigaDevDay"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
    </li>
    <li>
      <a href="https://plus.google.com/104346723645688269517/posts"><i class="fa fa-google-plus fa-fw fa-2x"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/groups/Riga-Dev-Day-2015-6734834/about"><i
        class="fa fa-linkedin fa-fw fa-2x"></i></a>
    </li>
    <li>
      <a href="https://github.com/RigaDevDay"><i class="fa fa-github fa-fw fa-2x"></i></a>
    </li>
    <li>
      <a href="https://speakerdeck.com/rigadevday"><i class="fa fa-slideshare fa-fw fa-2x"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCrUO4V5kfUg-aGAV6Y2rNRA"><i class="fa fa-youtube fa-fw fa-2x"></i></a>
    </li>
  </ul>
</header>
