<section id="schedule" class="content schedule">
  <div class="section-header red diagonal-right">
    <h1>Schedule</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button class="btn"
                    ng-class="{'btn-primary': vm.activeTabIndex == 0}"
                    ng-click="vm.tabActive(0)">Day 1 (02.03)</button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn"
                    ng-class="{'btn-primary': vm.activeTabIndex == 1}"
                    ng-click="vm.tabActive(1)">Day 2 (03.03)</button>
          </div>
          <div class="btn-group hidden-xs" role="group">
            <button class="btn"
                    ng-class="{'btn-primary': vm.activeTabIndex == 2}"
                    ng-click="vm.tabActive(2)">Workshops (04.03)</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden-lg visible-xs">
      <div class="col-xs-12">
        <div class="btn-group btn-group-justified no-top-margin" role="group">
          <div class="btn-group" role="group">
            <button class="btn"
                    ng-class="{'btn-primary': vm.activeTabIndex == 2}"
                    ng-click="vm.tabActive(2)">Workshops</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th class="text-center" ng-repeat="track in vm.rooms">{{track}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="session in vm.schedule" class="{{session.color}}">
              <td class="time">{{session.time}}</td>
              <td class="{{session.icon}} icon">
                <div></div>
              </td>
              <td class="content"
                  ng-repeat="talk in session.events"
                  ng-class="{unique: talk.title, clickable: talk.speakers.length > 0}"
                  ng-click="vm.scheduleModal(talk)"
                  colspan="{{vm.rooms.length / session.events.length}}">
                <div class="main">
                  <header>
                    <span ng-if="talk.title">{{talk.title}}</span>
                    <span ng-if="talk.speakers.length > 0" ng-repeat="speakerid in talk.speakers">{{vm.findSpeakerById(speakerid).name}}<span ng-hide="$last">, </span></span>
                  </header>
                  <div class="desc">{{talk.subtitle}}</div>
                </div>
                <div class="tags">
                  <a class="magenta" ng-repeat="tag in talk.tags">{{tag}}</a>
                </div>
                <div class="slides" ng-show="talk.slides">
                  <a ng-href="{{talk.slides}}" target="_blank">slides</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
