<section id="schedule" class="content schedule">
  <div class="section-header red diagonal-right">
    <h1>Schedule</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button class="btn" ng-class="{'btn-primary': vm.tabActive()===0}" ng-click="vm.tabActive(0)">Day 1</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn" ng-class="{'btn-primary': vm.tabActive()===1}" ng-click="vm.tabActive(1)">Day 2</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-default btn-disabled" disabled="disabled">Workshops</button>
        </div>
      </div>
    </div>
    <div class="row row-centered table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="text-center" ng-repeat="track in vm.tracks">{{track}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="session in vm.schedule" class="{{session.color}}">
          <td class="time">{{session.time}}</td>
          <td class="{{session.icon}} icon">
            <div></div>
          </td>
          <td class="content"
              ng-repeat="talk in session.events"
              ng-class="{unique: talk.title, clickable: talk.speakers.length > 0}"
              ng-click="vm.scheduleModal(talk)"
              colspan="{{vm.rooms.length / session.events.length}}">
            <div class="main">
              <header>
                <span ng-if="talk.title">{{talk.title}}</span>
                <span ng-if="talk.speakers.length > 0" ng-repeat="speakerid in talk.speakers">{{vm.speakers[speakerid].name}}<span ng-hide="$last">, </span></span>
              </header>
              <div class="desc">{{talk.subtitle}}</div>
            </div>
            <div class="tags" ng-repeat="tag in talk.tags">
              <a class="magenta">{{tag}}</a>
            </div>
            <div class="slides" ng-show="talk.slides">
              <a ng-href="{{talk.slides}}" target="_blank">slides</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.container -->
</section>
