<section id="venue" class="content hidden-xs hidden-sm">
  <header class="section-header red diagonal-right" id="map-section">
    <h1>Venue</h1>
  </header>
  <article id="map">
    <div id="map-container">
      <ui-gmap-google-map center='vm.map.center'
                          zoom='vm.map.zoom'
                          options='vm.map.options'>
        <ui-gmap-marker ng-repeat="marker in vm.markers" idKey='marker.idKey'
                        coords='marker.position'
                        options='marker.options'>
          <ui-gmap-window>
            <div class="marker-window">
              <img src="/assets/img/venue/cinema.jpg" alt="">
              <br>
              <span>
                13 Janvara street. 8
              </span>
            </div>
          </ui-gmap-window>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </article>
</section>
