<section id="venue" class="content hidden-xs hidden-sm">
  <header class="section-header red diagonal-right" id="map-section">
    <h1>Venue</h1>
  </header>
  <article id="map">
    <div id="map-container">
      <ui-gmap-google-map center='vm.map.center'
                          zoom='vm.map.zoom'
                          options='vm.map.options'>
        <!-- Cinema -->
        <ui-gmap-marker idKey='vm.markers.cinema.idKey'
                        coords='vm.markers.cinema.position'
                        options='vm.markers.cinema.options'>
          <ui-gmap-window>
            <div class="marker-window">
              <p>
                <img src="/assets/img/venue/cinema.jpg" alt="cinema" style="width: 40%; float: left; margin-right: 5px;">
              <p>
                Kino Citadele - main conference venue, the largest cinema complex in the very centre of Riga.
              </p>
              <b>Address</b>: 13 Janvara street, 8<br>
              <b>Website</b>: <a href="http://www.forumcinemas.lv">http://www.forumcinemas.lv</a>
              </p>

            </div>
          </ui-gmap-window>
        </ui-gmap-marker>

        <!-- Avalon -->
        <ui-gmap-marker idKey='vm.markers.avalon.idKey'
                        coords='vm.markers.avalon.position'
                        options='vm.markers.avalon.options'>
          <ui-gmap-window>
            <div class="marker-window">
              <p>
                Please mention conference code <b>RIGADEVDAY</b> when you request the reservation at the hotel.
              </p>
              <p>
                Standard Single room EUR 55.00 per night.<br>
                Standard Double room EUR 60.00 per night.<br>
                Superior Single room EUR 60.00 per night.<br>
                Superior Double room EUR 70.00 per night.
              </p>
              <p>
                Price includes a rich breakfast "buffet", high speed WIFI and VAT.
                Additional discount for stays of 3 nights min 15%.
              </p>
              <p>
                Make your reservation online at Avalon Hotel (<a href="http://www.hotelavalon.eu">http://www.hotelavalon.eu</a>)
                or by e-mail <a href="mailto:Reservations@hotelavalon.eu">Reservations@hotelavalon.eu</a>.
              </p>
              <p>
                <b>Address</b>: 13.Janvara street, 19.
              </p>
            </div>
          </ui-gmap-window>
        </ui-gmap-marker>

        <!-- Mercure -->
        <ui-gmap-marker idKey='vm.markers.mercure.idKey'
                        coords='vm.markers.mercure.position'
                        options='vm.markers.mercure.options'>
          <ui-gmap-window>
            <div class="marker-window">
              <p>
                Workshops will take place at Mercure Hotel.
              </p>
              <p>
                Please mention conference code <b>RIGADEVDAY</b> when you request the reservation at the hotel.
              </p>
              <p>
                Classic Single room - 68.00 EUR per night.<br>
                Classic Double room - 73.00 EUR per night.
              </p>
              <p>
                Price includes a rich breakfast buffet, free WIFI and VAT
              </p>
              <p>
                Make your reservation online at Mercure Hotel Riga (<a href="http://mercureriga.lv/en/hotel.html">http://mercureriga.lv/en/hotel.html</a>)
                or by reservations e-mail <a href="mailto:H9436@accor.com">H9436@accor.com</a>.
              </p>
              <p>
                <b>Address</b>: Elizabetes street, 101.
              </p>
            </div>
          </ui-gmap-window>
        </ui-gmap-marker>

        <!-- RockCafe -->
        <ui-gmap-marker idKey='vm.markers.rockcafe.idKey'
                        coords='vm.markers.rockcafe.position'
                        options='vm.markers.rockcafe.options'>
          <ui-gmap-window>
            <div class="marker-window">
              <p>
                The official afterparty location after the fist conference day on Wednesday (March 2nd). Everyone is invited!
              </p>
              <p>
                <b>Address</b>: Mārstaļu iela 2/4, Rīga, Latvija<br>
                <b>Website</b>: <a href="http://rockcafe.lv/">http://rockcafe.lv/</a>
              </p>
            </div>
          </ui-gmap-window>
        </ui-gmap-marker>


      </ui-gmap-google-map>
    </div>
  </article>
</section>
