<section id="sponsors-section" class="content">
  <div class="section-header red">
    <h1>Sponsors and Friends</h1>
  </div>
  <div class="container">
    <div class="sponsors"></div>
    <h2>
      Become <a target="_blank" href="mailto:info@rigadevday.lv?Subject=Riga Dev Day Sponsorship">a Sponsor</a>!
    </h2>
    <div id="friends" class="top30">
      <div class="row row-centered">
        <div class="col-sm-4">
          <a href="http://gdgriga.lv/"><img src="assets/img/partners/gdg-riga.png"></a>
        </div>
        <div class="col-sm-4">
          <a href="http://jug.lv/"><img src="assets/img/partners/juglv.png"></a>
        </div>
        <div class="col-sm-4" id="lvoug">
          <a href="http://lvoug.lv/"><img src="assets/img/partners/lvoug.gif"></a>
        </div>
      </div>
    </div>
  </div>
</section>
