<section id="organizers" class="content">
  <div class="section-header red">
    <h1>Organizers</h1>
  </div>
  <div class="container">
    <div id="friends" class="top30">
      <div class="organizers-section">
        <h1>Organizers of the Event</h1>
        <div class="row row-centered">
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://gdgriga.lv/"><img src="assets/img/partners/organizers/gdg-riga.png"></a>
          </div>
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://jug.lv/"><img src="assets/img/partners/organizers/juglv.png"></a>
          </div>
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://lvoug.lv/"><img src="assets/img/partners/organizers/lvoug.gif"></a>
          </div>
        </div>
      </div>

      <div class="organizers-section">
        <h1>Our dear Sponsors</h1>
        <div class="row row-centered">
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://www.accenture.com/"><img src="assets/img/partners/sponsors/accenture.png"></a>
          </div>
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://v.ok.ru/"><img src="assets/img/partners/sponsors/ok.png" style="height: 150px;"></a>
          </div>
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://ctco.lv/"><img src="assets/img/partners/sponsors/ctco_logo.png"></a>
          </div>
        </div>
        <br>
        <div class="row row-centered">
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="http://www.ideaportriga.com/"><img src="assets/img/partners/sponsors/idea-port-riga.png"></a>
          </div>
          <div class="friend col-xs-9 col-sm-4 col-centered">
            <a href="https://www.evolutiongaming.com/"><img src="assets/img/partners/sponsors/evolution.jpg"></a>
          </div>
        </div>
      </div>

      <!--<div class="organizers-section">
          <h1>Supported by</h1>
        </div>

        <div class="organizers-section">
          <h1>With help from the Community</h1>
        </div>-->
    </div>
  </div>
</section>
