<section id="tickets" class="content">
  <div class="section-header red">
    <h1>Tickets</h1>
  </div>
  <div class="container">
    <div class="row row-centered">
      <div class="col-xs-10 col-sm-6 col-md-3 col-centered"
           ng-repeat="ticket in vm.tickets">
        <div class="panel panel-default"
             ng-class="{'active-ticket-offer': ticket.active, 'inactive-ticket-offer': !ticket.active}">
          <div class="panel-body tickets-panel">
            <div class="ends">Ends {{ticket.ends}}</div>
            <h2>{{::ticket.title}}</h2>
            <h6 class="text-center">{{::ticket.time}}</h6>

            <div ng-if="ticket.price">
              <div class="row">
                <div class="col-xs-6 col-centered">
                  <h4><strong>1 Day</strong></h4>
                  <h4>{{::ticket.price.day1}}</h4>
                </div>
                <div class="col-xs-6 col-centered">
                  <h4><strong>2 Days</strong></h4>
                  <h4>{{::ticket.price.day2}}</h4>
                </div>
              </div>
            </div>
            <div ng-if="!ticket.price">
              <h3 class="text-center">Coming Soon!</h3>
            </div>
          </div>
          <div class="panel-footer">
            <a ng-if="ticket.active"
               ng-href="{{::ticket.reserveLink}}"
               class="btn btn-info btn-tickets">
              Reserve
            </a>
            <button ng-if="!ticket.active" disabled="disabled"
                    class="btn btn-default btn-tickets">
              Reserve
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
