<section id="2015" class="content hidden-xs hidden-sm">
  <div class="section-header red">
    <h1>Memories of 2015</h1>
  </div>
  <div class="container">
    <h2>
      See how it was <a href="http://rigadevday.lv/2015">back in 2015</a>.
    </h2>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/2ekiPuVAOZU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="photo-container">
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/137308796@N03/albums/72157660383795955"
         title="Riga Dev Day 2015">
        <img src="https://farm6.staticflickr.com/5637/22315780199_6629702bce_o.jpg"
             alt="Riga Dev Day 2015"></a>
      <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    </div>
  </div>
</section>
